
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
  .user{
    min-height: 100vh;
    max-height: max-content;
    width: 100%; 
    background-color: rgb(238, 173, 251);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  } 

.info{

    font-size: 27px;
   color:rgb(23, 23, 45);
   /* height: 70vh;
   width: 35vh; */
   background-color: rgb(238, 173, 251);
   display: flex;
   flex-direction: column;
  /* border: 1px solid black; */
}

.info header{
    padding-bottom: 10px;
    padding-top: 50px;
    padding-left: 30px;
    font-size: larger;
    color: rgb(42, 64, 106);
}

.info p{
  color: #403160;
    padding-top: 10px;
    padding-left: 30px;
}
.info a{
    padding-left: 30px;
    margin-top: 80px; 
    font-size: 27px;
   color:rgb(23, 23, 45); 
   text-decoration: none; 
}
.books{
    display: grid;
    grid-template-rows: 1fr ;
    row-gap: 20px;
}
.classic a{
    text-decoration:none ;
}

/* 
.borrowedbooks{
    padding-left: 50px;
    margin-top: 80px; 
    font-size: 27px;
   color:rgb(23, 23, 45); 
   text-decoration: none; 
}

.borrowedbooks a{
    text-decoration: none;
}

.booksbought{
    padding-left: 50px;
    margin-top: 80px; 
    font-size: 27px;
   color:rgb(23, 23, 45);  
   text-decoration:none ;  
}

.booksbought a{
    text-decoration: none;
}
.wishlist{
    padding-left: 50px;
    margin-top: 80px; 
    font-size: 27px;
   color:rgb(23, 23, 45);  
   text-decoration:none ;  
   border-bottom:1px dotted; 
}

.wishlist a{
    text-decoration: none;
} */
/* 
.recommended{
    height: 42vh;
    width: 150vh;
    background-color: rgb(238, 173, 251);
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    margin-left: 170px;
    overflow-x: scroll;
    border-style: solid;
    border-color: rgb(137, 92, 185);
}
.recommended h1{
    margin: 10px;
    display: block;
    font-size: 40px;
    color: rgb(93, 57, 191);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;  }

.recommended img{
    margin-top: 80px;
    margin-right:100px ;
} */
/* .booklist{
    /* padding-left: 50px;
   margin-top: 80px; 
   font-size: 27px;
  color:rgb(23, 23, 45);
  height: 50vh;
  width: 30vh;
  background-color: rgb(238, 173, 251);
  display: flex;
  flex-direction: column;
  margin-top:100px;
  margin-left: 40px;

}
